* {
  box-sizing: border-box;
}

body {
  background-color: green;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#section-canvas {
  width: 500px;
  height: 500px;
  background-color: azure;
}
